$primary-normal: #06121E;
$primary-light: #0c2135;
$primary-dark: #040f1a;

$secondary-normal: #090d11;
$secondary-light: #1a1f25;
$secondary-dark: #06090c;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #EDEAEF;
$white-light: #fefbff;

$azul-normal: #0075B5;
$azul-light: #28B7E4;
// $red-dark: #b42b2b;